.infolist {
    margin: 20px 0px;
    display: grid;
    grid-template-areas:
            "infocard infocard infocard infocard infocard";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    row-gap: 30px;
    padding: 0px 40px;
}

.infocard { grid-area: infocard; }



@media screen and (max-width:992px) {
    .infolist {
        grid-template-areas:
            "infocard infocard";
        grid-template-columns: 1fr 1fr;
    }
}

footer {
    font-family: 'Pretendard-Regular';
    bottom: 0px;
    width: 100%;
    /*바닥에 어케붙임*/
  }
