.infocard {
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:black;
    text-decoration: none;
    height: 100%;
    white-space: nowrap;
    font-family: 'Pretendard-Regular';
}

img {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.infocard:hover >
.infocard__img {
    box-shadow: var(--style-box-shadow);
    transform: translate(0px, -4px);
}

.infocard__img {
    flex-grow: 1;
    width: 100%;
    border: 2px solid rgb(235, 235, 235);
    border-radius: 18px;
    padding: 0px;
    transition:  all 0.3s ease 0s;
}

/* img {
    width: 100%;
    border-radius: 24px;
} */

.infocard__tags {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infocard__tag {
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 0px 2px;
    border-radius: 24px;
    font-weight: bolder;
}

.look_three {
    background-color: white;
    border: solid 2px;
    color: black;
    border-color: var(--sub-tag-brown-color);
}

.look_chaos {
    background-color: var(--sub-tag-brown-color);
    border: solid 2px;
    border-color: var(--sub-tag-grey-strk-color);
    color: black;
}

.look_tuxedo {
    background-color: var(--sub-tag-black-color);
    color: white;
}

.look_cow {
    background-color: white;
    border: solid 2px;
    border-color: var(--sub-tag-grey-strk-color);
    color: black;
}
.look_cheese {
    background-color: white;
    border: solid 2px;
    border-color:var(--sub-tag-yellow-color);
    color: var(--sub-tag-yellow-color);
}

.look_gofish {
    background-color: var(--sub-tag-grey-bg-color);
    color: black;
}

.loc_n-ar, .loc_n-north, .loc_n-4{
    background-color:var(--main-brown-color);
    color: white;
}

.loc_e-east {
    background-color:var(--main-wgrey-color);
    color: white;
}

.loc_w-2, .loc_w-yn, .loc_w-dh, .loc_w-5, .loc_w-6{
    background-color:var(--main-purple-color);
    color: white;
}
